name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release-plz-release:
    name: release publish
    if: ${{ github.repository_owner == 'ratatui' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.DEDICATED_TOKEN }}

      - name: linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev

      - name: install rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: release-plz
        uses: release-plz/action@v0.5
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ secrets.DEDICATED_TOKEN }}

  release-plz-pr:
    name: release PR
    if: ${{ github.repository_owner == 'ratatui' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.DEDICATED_TOKEN }}

      - name: linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev

      - name: install rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: release-plz
        uses: release-plz/action@v0.5
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ secrets.DEDICATED_TOKEN }}
